.steptwo__actors{
    display: flex;
}

.steptwo__actorbtn{
    width: 20%;
    margin: 20px;
}

.steptwo__facebtn{
    width: 100%;
    background: none;
}

.steptwo__facebtn img{
    width: 100%;
}

.steptwo__facebtn--selected{
    border: olive 2px solid;
}

.steptwo__accessories{
    display: flex;
}

.steptwo__accessorybtn{
    margin: 20px;
}