
.create__header{
    display: flex;
}

.create__back{
    width: 15%;
    padding: 30px 0 0 40px;
}

.create__tittle{
    width: 85%;
    padding: 40px 0 0 240px;
}

.create__tittle img{
    width: 500px;
}

.create{
    width: 100%;
    height: 100%;
    display: flex;
}

/* --------------- CREATE CHARACTER ---------------*/
.create__character{
    width: 40%;
    height: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.create__charactername{
    width: 100%;
    height: 80px;
    display: flex;
    
    justify-content: center;
}

.create__charactername p{

}

.create__background{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.create__backgroundimg{
 
    height: 100%;
    position: absolute;
    margin: 0px;
    z-index: -2;
}

.create__body{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: relative;
    top: -10px;
    left: 2px; */
    position: absolute;
}
.create__head{
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    z-index: 0;
}

.create__head img{
    height: 100%;
}

.create__color1{
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    z-index: 1;
}

.create__color1 img{
    height: 100%;
}

.create__color2{
    width: 100%;
    height: 100%;
    top: 0px;
    position: relative;
    z-index: 2;
}

.create__color2 img{
    height: 100%;
}

/*
.create__body img{
    width: 100%;
}
*/

.character__accessory1{
    position: absolute;
    /* background-color: crimson; */
    z-index: -1;
    width: 200px;
    height: 200px;
}

.character__accessory2{
    position: absolute;
    top: 30px;
    /* background-color:blue; */
    width: 60px;
    height: 20px;
}

.character__accessory3{
    position: absolute;
    top: 130px;
    /* background-color: pink; */
    width: 200px;
    height: 100px;
}

/* --------------- FIN CREATE CHARACTER ---------------*/

.create__options{
    width: 45%;
    height: 100%;
}

.create__menu{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}