
.create__header{
    display: flex;
}

.create__back{
    width: 15%;
    padding: 30px 0 0 40px;
}

.create__tittle{
    width: 85%;
    padding: 40px 0 0 240px;
}

.create__tittle img{
    width: 500px;
}

.create{
    width: 100%;
    height: 100%;
    display: flex;
}

/* --------------- CREATE CHARACTER ---------------*/

.create__character{
    width: 40%;
    height: 550px;
    margin: 0px;
    padding: 0px;
}
/* --------------- FIN CREATE CHARACTER ---------------*/

.create__options{
    width: 45%;
    height: 100%;
}

.create__menu{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}